.sectionLogin {
    position: absolute;
    right: 280px;
    top: 150px;
  }
  .title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.01em;
    color: #323c47;
  }
  .textLogin {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
  }
  .loginFullName,.loginEmail {
    width: 404px;
    border: none;
    outline: none;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 20px;
  }
  .loginPassword {
    width: 404px;
    border: none;
    outline: none;
    border-bottom: 1px solid #8c8c8c;
  }
  .buttonLogin {
    color: #fff;
    background: #3910f1;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 20px;
  }
  .fogetInput {
    position: absolute;
    left: 20%;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #323c47;
  }
  .blueSing {
      color: blue;
  }
  .image {
    position: relative;
    top: 250px;
  }
  .topImage {
    position: absolute;
    left: 18.84%;
    top: -133px;
  }
  .middleImage {
    position: absolute;
    left: 16.4%;
    top: 71.96%;
  }
  .bottomImage {
    position: absolute;
    left: 180px;
    top: 140px;
  }
  